################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EZ.Exemplos.SOLID/.vs/EZ.Exemplos.SOLID/v16
**/obj
**/bin
**.vs
/.sonarlint
/.sonarqube
